@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.manage-course-container
{
    
    /* background-color: rgb(250,240,230); */
    width: 100%;
    background: linear-gradient(90deg, #a5d6e3 0%, #c4eac8 100%);
    }

    

.managecoursetext{
     padding-top: 15px;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); 
   margin-bottom: 1%;  
}
.admin-top
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    /* border:1px solid black; */
    width: 100%;
    padding:1%;
    /* gap:15%; */
    /* padding: 10%; */
}
.searchboxcontainer {
    position: relative; 

  }
  
  .inputbox {
    position: relative;
    display: flex;
    border-radius: 10px;
    height: 40px;
    width: 100%;

  }
  
  .inputbox input {
    border-radius: 15px;
     /* Adjust this value to your desired icon position */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    /* right: 10px; Adjust the right distance as needed */
    transform: translateY(-50%);
  }
.admin-course-container {
    max-width: fit-content;
    max-height: 60vh;
    margin-top: 2vh;
    margin-left:26vw;
    overflow: auto;

  }
.table{
    border-collapse: collapse;
    /* margin-left: 40px; */
    font-size: 0.9em;
    font-family: sans-serif;
    cursor: pointer;
  }
  .course-row tr:hover:nth-child(even) {
    background: #FF6B6B
  }
  
  .course-row tr:hover:nth-child(odd) {
    background: #FFE66D;
  }
  
  th,td {
    padding: 12px 15px;
    text-align: center;
  }
  thead{
      width:fit-content;
      padding-right: 70px;
      text-align: left;
      /* display: flex;
      justify-content: flex-start; */
      background-color: #f1f1f1;
  }
  
  .table tbody tr {
      border-bottom: 1px solid  #009879;
  }
  
  .table tbody tr:nth-of-type(even) {
      background-color: #fff
  }
  .table tbody tr:nth-of-type(odd) {
    background-color:#009879;
  }
  
  .table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  .table tbody tr.active-row {
      font-weight: bold;
      color:#009879;
  } 
  .course-data{
    
    /* text-align: center; Center text horizontally */
    font-size: 20px;
    align-items: center; /* Center text vertically */
    font-family: Arial, Helvetica, sans-serif;
  }
.course-buttons{
    display: flex;
    flex-direction: row;
    gap:2%;
    justify-content: center;
    align-items: center;
    
}
.btn1{
  padding: 10px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

  @media (max-width:1270px)
  {
    .admin-top{
        margin:0px 200px;
    }
    .inputbox{
        width:300px;
    }
    .managecoursetext{
        
        font-size: 30px;
    }
    .course-data{
        font-size: 18px;
    }
    .coursetable{
        margin-left: 0%;
        border-collapse: separate;
        border-spacing: 60px;
    
    }
  }
  @media (max-width:1000px)
  {
    .admin-top{
        margin:0px 50px;
    }
    .inputbox{
        width:250px;
    }
    .managecoursetext{
        
        font-size: 28px;
    }
    .course-data{
        font-size: 16px;
    }
    .coursetable{
        margin-left: 0%;
        border-collapse: separate;
        border-spacing: 30px;
    
    }
  }
  @media (max-width:790px)
  {
    .admin-top{
        margin:0px 20px;
    }
    .inputbox{
        width:200px;
    }
    .managecoursetext{
        
        font-size: 22px;
    }
    .course-data{
        font-size: 13px;
    }
    .coursetable{
        margin-left: 0%;
        border-collapse: separate;
        border-spacing: 20px;
    
    }
  
  }
  @media (max-width:540px)
  {
    .admin-top{
        margin:0px 10px;
    }
    .inputbox{
        width:150px;
    }
    .managecoursetext{
        
        font-size: 18px;
    }
    .course-data{
        font-size: 8px;
    }
    .coursetable{
        margin-top: 10%;
        margin-left: 0%;
        border-collapse: separate;
        border-spacing: 1px;
    
    }
  }
