.button{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    padding-left: 1rem;
    padding-right:1rem;
    border-radius: 15px;
    cursor: pointer;
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
    


}
.activebtn
{
    box-shadow: 5px 5px 15px;

}
.btnname p{
    color:black;
}
/* @media (max-width:1690px)
{
  
} */