.login_layout{
background-color: aqua;
display: flex;
justify-content: space-between;
margin-top: 6%;
margin-left: 25%;
margin-right: 25%;
}
.login_form{
    padding-top: 7%;
    padding-left: 1%;
    padding-right: 10%;
}

.login_layout input{
    width: 100%;
}


