.signup-page{
    display: flex;
    border-radius: 10%;
    /* justify-content: space-between; */
    background-color: darkseagreen;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    /* margin-top: 7%; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    /* position:; */
    width: fit-content;
    height: 26rem;
    /* margin: 20vh auto 0; */
    margin: 0px auto;
    
}
   .signuptitle{
    /* color:darkslategrey; */
    font-weight: 700;
    /* font-style: oblique; */
    font-size: large;
    font-family: 'Autour One', cursive;
   }
   .sign-up-img{
    height:100%;
    border-radius: 10%;
   }
   .register_form{
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: aliceblue;
   }
   .register_form input[type="text"],.register_form input[type="number"], .register_form input[type="password"]{
    width: 100%;
    padding-block: 3%;
    border-radius: 1%;
    border:none;
    outline: none;
    
   }
   .register_form input::placeholder{
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
   }
   .checkbox{
    display: flex;
   }
   .image-div{
    animation: slide 1s ease-in-out;
    width:60%;
   }
   
   .adminlogin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
   }
   .adminlogin input{
    text-align: left;
    padding-left: 15px;
   }
   .input-box
   {
    
    height: 20px;
    
   }
   input{
    border-radius: 15px;
   }
   .or {
    
    margin: 1px 0;
    text-align: center;
    }
    
    .or:before,
    .or:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    }
    
    .or:before {
    right: 0.5em;
    margin-left: -50%;
    }
    
    .or:after {
    left: 0.5em;
    margin-right: -50%;
    }
   
   .button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
   }
   
   .button-3:hover {
    background-color: #2c974b;
   }
   
   .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
   }
   
   .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
   }
   
   .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
   }
   .signinbackground{
    /* background-image: url('https://img.freepik.com/free-vector/shiny-blue-background_1378-149.jpg?w=1060&t=st=1702623393~exp=1702623993~hmac=9cf0869f4d46c1192208fd8786ac81f67023b8d4f5b9913e9c15267258db0098'); */
   background-image: url('../../../imgaes/signin\ page\ backgroundimage.jpg');
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
      background-repeat: no-repeat; 
       background-attachment: fixed;
   }
   @keyframes slide {
    from{
    transform: translateX(100%);
    opacity: 0.6;
    }
    to{
    transform: translateX(0%);
    opacity:1;
    }
   }