@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.messagepage{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #a5d6e3 0%, #c4eac8 100%);

   
    
}

.previous-messages-container{
    /* background: rgb(250,240,230); */
    height:90vh;
    overflow: auto;
    

}
.prev-txt
{
    /* color: white; */
    font-size:32px;
    text-align: center; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.previous-messages{

    margin: auto;
    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center; 
    /* background-color: rgb(1, 1, 1); */
    
    
    
}
.broadcast{
    position: relative;
    bottom: 0;
    right:0;
    height: 14.3vh;
    /* background: rgb(255, 240, 219); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 0% 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
.message-input
{
    height:4vh; 
    width:40vw;
    overflow: auto; 
    resize: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
@media (max-width:1200px)
{
    .prev-txt{
        font-size: 28px;
    }
}
@media (max-width:780px)
{
    .prev-txt{
        font-size: 24px;
    }
}
@media (max-width:480px)
{
    .prev-txt{
        font-size: 20px;
    }
}