@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Noto+Sans:ital,wght@0,300;0,400;1,200;1,400&family=Poppins:ital,wght@0,400;0,600;0,800;1,700&family=Rubik:wght@400;500;700&family=Young+Serif&display=swap');

.dashboard{
    /* background: rgba(240, 237, 237,10%); */
    background: rgba(198, 179, 264,10%);
    /* border: 1px solid black; */
    /* border-radius: 5%; */
    /* display: flex; */
    /* background-color: black; */
    /* background-color: ivory; */
    /* background-color: aliceblue; */
    border-radius: 10%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.imgflex{
    display: flex;
}
.yourcourses{
     /* margin-top: 3vh; */
   /* margin-left: 25%;
    padding: 0px;
    height: 50rem;
    width: 50rem;
    background: rgba(240, 237, 237, 0.336);
    border: 1px solid black;
    overflow: scroll; */
    padding: 0px;
    height: 80vh;
    width: 100%;
    /* background: rgba(240, 237, 237, 0.336); */
    /* border: 1px solid black; */
    
    
    overflow-y: scroll;

    
}
.yourcourses ::-webkit-scroll{
    display: none;
}
.overflow-class{
    height: 65vh;
    overflow: scroll;
}
.yourcoursestext{
    /* border: 1px solid black; */
    color: black;
    text-align: center;
    font-family: 'Autour One', cursive;
    margin: 1%;
    padding: 1%;
    /* font-size: 1.5rem; */
    border-bottom: 1px solid black;
    

}
.courseitem{
    cursor: pointer;
}
.types
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    margin: 1%;
    border-bottom: 1px solid black;

   

}
.typeslink
{
    text-decoration: none;
    color: rgba(0,0,0,30%);
    text-align: center;
    padding: 1%;
    font-family: 'Autour One', cursive;
    cursor: pointer;

}
.typeslinkactive
{
    color: blue;
    text-decoration: none;
    /* color: black; */
    text-align: center;
    padding: 1%;
    font-family: 'Autour One', cursive;
    cursor: pointer;

}

.course{
    display:flex;
    flex-direction: row;
    margin: 5%;
    justify-content:space-between;
    align-items: center;
    /* border:1px solid black; */
    border-radius: 55px;
    padding: 10px 30px 10px 10px;
    background-color: white;
}
.course:hover{
    background-color:rgba(88, 88, 255, 60%);
    color:white;
}

.courseimgm
{
    height: 3rem;
    width: 5rem;
}
.coursetext{
    /* display:flex; */
    flex-direction: column;
    /* gap:-0.2rem; */
    
}

.title{
    /* color:rgba(0, 0, 0, 50%); */
    /* font-size: 1.2rem; */
}
.author{
    
    font-size: 0.8rem;
}