.zindexpop{
/* height: 100vh;
width: 100%; */
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index:2;
background-color:rgba(0, 0, 0, 0.7);
position:fixed;

}
.backdrop{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endrollcard{
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  position: absolute;
  /* top: 30%; */
  /* left: 30%; */
  border-radius: 2%;
  /* margin-left: 1%; */
  padding: 14px;
  /* position: fixed; */
  align-items: center;
  max-width: 400px;
  margin-top: 2%;
  
}
.endrollpop_header{
    display: flex;
    flex-direction: column;
    
}
.codes{
  height: 37vh;
  overflow: scroll;
}
.courseimg{
    border-radius: 2%;
}
.endrollpop_describtion{
  /* padding-left: 70%; */
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 10px;
 
}
.sideimformation{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    
    /* flex-wrap: wrap;
    width: 100%;
    border: 1px solid; */
}
.coursename{
    /* color:white; */
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    font-size: xx-large;
}
.sideimformation span{
color: red;
}
.coursedescript{
  word-break: break-all;
  padding-bottom: 10%;
  color: rgba(0,0,0,60%);
}
.endrollpop_describtion button{
   background-color: #995af3;
   color: white;
   font-size: medium;
   border: 1px solid black;
   padding: 2%;
   border-radius: 1%;
}