  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.addcourse-page{
    position: relative;
   width: 100%;
   display: flex;
   justify-content: center;  
background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);

   /* background:rgb(250,240,230)  */
}
.addcourse-text{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
   background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.add-form{
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
    margin-top: 80px;
    width: 430px;
    /* background-image: url('../../../images/adminpageimages/logo.png'); */
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image */
    height: 75%;
    padding: 3%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.form-field{
    padding:2%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-label{
    font-size: 17px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
    margin-top: 10px;
}
.form-input{
    height: 5vh;
    width:15vw;
    border: 1px solid;

    border-radius: 10px;
    border-color:linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); ;

}
input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
.form-description{
    height: 15vh;
    width:15vw;
    overflow: auto;
    resize: vertical;
}
.submitbtn
{
    display: flex;
    justify-content: flex-end;
    height:5vh;

}
@media (max-width:1290px)
{
    .addcourse-text{
        font-size: 28px;
    }
    .form-label{
        font-size: 18px;
    }
    .form-input{
        font-size: 10px;
    }
    .form-description{
        font-size: 10px;
    }
}
@media (max-width:720px)
{
    .addcourse-text{
        font-size: 24px;
    }
    .form-label{
        font-size: 15px;
    }
    .form-input{
        font-size: 8px;
    }
    .form-description{
        font-size: 8px;
    }
}
@media (max-width:480px)
{
    .addcourse-text{
        font-size: 20px;
    }
    .form-label{
        font-size: 10px;
    }
    .form-input{
        font-size: 8px;
    }
    .form-description{
        font-size: 8px;
    }
}

.button-3 {
    margin-top: 2px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}